# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


include<stdio.h>



int main(void){
  printf("Hello World");
  
  
  return 0;

}
